.section-1{
	display: grid;
	grid-template-columns: auto auto;
	background-color: var(--fade1);
}
.section-1 .right-div h2 {
	font-size: 28px;
}
.section-2 .grid-container {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 0;
	height: 100px;
	margin-right: 10%;

}
.grid-element {
	padding: 10px 20px;
}
.section-1 h2, p {
	font-size: 36px;
	padding: 100px 50px 0 50px;
}
.section-1 p {
	font-size: 22px;
	padding-top: 30px;
}
.section-2 .grid-container .icon h3 {
	font-size: 8px;
}
.section-2 .grid-container .icon {
	width: 20px;
}
.section-2, .section-2 .form form {
	display: flex;
	background-color: #e4f1fe;
}
.section-2 .form form input, textarea{ 
	width: 280px;
	height: 10px;
	padding: 20px;
	margin: 10px 10px;
}
.section-2 .form form textarea {
	height: 150px;
}
.section-2 .form form button {
	width: 200px;
	height: 40px;
	float: right;
	margin-right: 10px;
	background-color: #41d8bf;
}
.section-2 h3 {
	font-size: 14px;
	font-weight: normal;
}

footer form button {
	width: 40px;
	height: 34px;
	border-style: none;
	background-color: #41d8bf;
	font-weight: 200px;
	font-size: 18px;
}

