/*this is the CSS property applied for <main> part of index.html page only*/

/*for common property of section-1 and 2*/
.home-section-1, .section-2 {
	display: grid;
	grid-template-columns: auto auto;
	background: -webkit-linear-gradient(to right,  #fdffcd, #e0ffcd);
	background: linear-gradient(to right,  #e0ffcd, #fdffcd);
}

/*overriding background colour of section 2*/
.section-2 {
	background: -webkit-linear-gradient(to right,  #e4f1fe, #93deff);
	background: linear-gradient(to right,  #e4f1fe,#93deff);
}

/*for section-1 left-inner div*/
.home-section-1 .left-inner {
	padding-right: 50px;
}

/*for h6 tag of section-1 only*/
.home-section-1 h6 {
	font-size: 28px;
	font-weight: normal;
	font-family: 'Comfortaa';
	margin-bottom: 20px;
}

/*for h1 tag of section-1 only*/
.home-section-1 h1 {
	font-size: 48px;
	font-family: 'Comfortaa';
	margin-bottom: 20px;
}

/*for p tag of section-1 only*/
.home-section-1 p {
	font-size: 22px;
	font-family: 'Jungle';
	text-align: justify;
	padding-top: 0;
	line-height: 30px;
}

/*for common property of h6, h1 and p*/
.home-section-1 h2, p {
	padding-top: 50px;
}

.home-section-1 img, .section-2 img {
	height: 500px;
	width: auto;
}
.home-section-1 .left {
	display: flex;
	justify-content: center;
	align-items: center;
}
.gallery h2 {
	margin-block: 20px;
}
.skill p {
	padding: 0;
}

@media only screen and (max-width: 900px) {

	.home-section-1 {
		display: flex;
		flex-direction: column;
		padding: 30px;
		margin-top: 0;
	}
	.home-section-1 .left-inner{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-right: 0;
	}

	.home-section-1 h6{
		font-size: 22px;
	}
	.home-section-1 h1 {
		font-size: 28px;
	}
	.home-section-1 p {
		font-size: 18px;
		text-align: justify;
	}
	.home-section-1 img {
		width: 200px;
		height: auto;
		margin-top: 40px;
		margin-left: auto;
		margin-right: auto;
	}
	.about-me {
		display: flex;
		flex-direction: column;
		padding: 30px;
	}
	.about-me .left-inner, .right-inner {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.about-me img {
		width: 200px;
		height: auto;
		margin-bottom: 20px;
		text-align: left;
	}
	.skill {
		padding: 30px;
	}
	.skill .grid-container {
		display: grid;
		grid-template-columns: auto auto;
	}
	.skill .grid-container p {
		font-size: 10px;
	}
	.skill .grid-element {
		width: 100px;
		height: 100px;
		padding: 10px;
	}
	.flex-card {
		padding: 30px;
	}
	.flex-card .flex-container{
		flex-direction: column;
	}
	.flex-card .flex-container .card {
		margin-top: 50px;
	}
	.gallery {
		padding: 10px;
		padding-top: 100px;
	}
	.gallery h2{
		font-size: 28px;
	}
	.gallery .grid-container {
		display: grid;
		grid-template-columns: auto auto;
	}
	.gallery img {
		width: 150px;
		height: auto;
	}
}
