/*This is the common property for <main> part of all the pages*/

/*margin to 0*/
* {
	margin: 0;
	padding: 0;
	font-family: Verdana;
}

/*for all button with class name read-more*/
.read-more {
	width: 150px;
	height: 40px;
	margin-top: 30px;
	background: -webkit-linear-gradient(to right, #192294, #5254d8);
	background: linear-gradient(to right, #192294, #5254d8);
	color: white;
}
/*padding for all sections of all pages*/
section {
	padding: 100px;
}

.master-section {
	background: #1D976C;
	background: -webkit-linear-gradient(to right,  #afc5ff, #1D976C);
	background: linear-gradient(to right,  #afc5ff, #8dc6ff);
	padding: 100px 0;
	color: #ececec;
}
.master-section h1, h4{
	font-family: 'Comfortaa';
	font-size: 48px;
	text-align: center;
}
.master-section h4 {
	font-size: 22px;
}
.master-section h1 {
	padding: 0;
}

.about-me {
	display: grid;
	grid-template-columns: auto auto;
	background: -webkit-linear-gradient(to right,  #d7fffd, #bcfff2);
	background: linear-gradient(to right,  #d7fffd, #bcfff2);
}
.about-me h2 {
	font-family: 'Comfortaa';
	font-size: 48px;
	margin-bottom: 20px;
}
.about-me p {
	font-family: 'Jungle';
	font-size: 22px;
	text-align: justify;
	padding: 0;
	margin-bottom: 20px;
	line-height: 30px;
}
.about-me button {
	margin-top: 0px;
}
.about-me .right {
	margin-left: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.profile-img {
	height: 400px;
	width: auto;
}

.skill {
	text-align: center;
	background: -webkit-linear-gradient(to right,  #d7fffd, #bcfff2);
	background: linear-gradient(to right,  #d7fffd, #bcfff2);
}

/*for grid-container div of section-3 only*/
.skill .grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
	padding: 25px;
	color: #5c5470;
}
.skill .grid-element {
	background: -webkit-linear-gradient(to right,  #41d8bf, #36d1c4);
	background: linear-gradient(to right,  #41d8bf, #36d1c4);
}
.skill h2, .main-paragraph {
	margin: 25px auto;
	font-family: 'Comfortaa';
	font-size: 48px;
}
.skill p {
	margin-bottom: 0;
	font-family: 'Comfortaa';
	font-size: 22px;
	margin: 50px 0;
}
.skill .skill-title {
	width: 80px;
}
.skill .grid-element p {
	margin: auto;
}

/* for grid-element of section-2 only*/
.skill .grid-element {
	padding: 100px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	margin: 10px;
}

.skill .grid-element p, a {
	padding: 10px 0;
}
.skill .grid-element p i{
	font-size: 48px;
}
.skill h1 {
	margin-bottom: 20px;
}
.skill .grid-element:hover{
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	transition: 0.5s;
}


.flex-card {
	background: -webkit-linear-gradient(to right,  #afc5ff, #1D976C);
	background: linear-gradient(to right,  #afc5ff, #8dc6ff);
}
.flex-card .flex-container {
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
}
.flex-card .card {
	background-color: #e4f1fe;
	padding: 30px;
	color: #606470;
}
.flex-card .circle {
	margin: auto;
	height: 100px;
	width: 100px;
	border-radius: 100px;
	background-color: white; 
	border-style: solid;
	border-width: 30px;
	border-color: #cadefc;
	display: flex;
	justify-content: center;
	align-items: center;
}
.flex-card .card .circle p{
	font-size: 32px;
	align-items: center;
	font-family: 'Comfortaa';
	margin: 0;
	padding: 0;
}
.flex-card .card .content h3 {
	font-size: 28px;
	margin: 30px 0;
	font-family: 'Comfortaa';
}
.flex-card .card h5 {
	font-size: 18px;
	margin: 20px 0;
	font-family: 'Comfortaa';
}
.flex-card .card button {
	background: -webkit-linear-gradient(to right,  #afc5ff, #1D976C);
	background: linear-gradient(to right,  #afc5ff, #8dc6ff);
	font-family: 'Comfortaa';
}
.flex-card .card:hover {
	background: -webkit-linear-gradient(to right,  #626fe6, #6d42c7);
	background: linear-gradient(to right,  #626fe6, #6d42c7);
	transform: scale(1.02);
	transition: 2s;
}
.flex-card .card:hover .content {
	color: #dee1ec;
}

.gallery {
	background: -webkit-linear-gradient(to right,  #fdffcd, #e0ffcd);
	background: linear-gradient(to right,  #e0ffcd, #fdffcd);
	text-align: center;
	color: #6f7777;
}
.gallery img {
	width: 300px;
	height: auto;
}
.gallery h2 {
	margin: 0;
	font-family: 'Comfortaa';
	font-size: 48px;
	margin-bottom: 0;
	padding-bottom: 0;
}
.gallery p {
	margin-bottom: 40px;
	padding: 0;
	font-family: 'Comfortaa';
	font-size: 22px;
	margin: 50px 0;
}
.gallery .grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
}
.gallery img:hover {
	transform: scale(1.2);
	transition: 1s;
}

main button:hover {
	font-size: 15px;
	transition: 1s;
	font-family: 'Comfortaa';
	cursor: pointer;
}


@media only screen and (max-width: 915px) {

	.about-me {
		display: flex;
		flex-direction: column;
		padding: 30px;
	}
	.about-me .left-inner, .right-inner {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.about-me img {
		width: 200px;
		height: auto;
		margin-bottom: 20px;
		text-align: left;
	}
	.skill {
		padding: 30px;
	}
	.skill .grid-container {
		display: grid;
		grid-template-columns: auto auto;
	}
	.skill .grid-container p {
		font-size: 10px;
	}
	.skill .grid-element {
		width: 300px;
		height: 300px;
		padding: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.flex-card {
		padding: 30px;
	}
	.card-1{
		grid-area: item1;
	}
	.card-2{
		grid-area: item2;
	}
	.card-3{
		grid-area: item3;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.flex-card .flex-container{
		display: grid;
		grid-template-areas: 'item1 item2' 'item3 item3';
	}
	.flex-card .flex-container .card {
		margin-top: 50px;
	}
	.gallery {
		padding: 10px;
		padding-top: 100px;
	}
	.gallery h2{
		font-size: 28px;
	}
	.gallery .grid-container {
		display: grid;
		grid-template-columns: auto auto;
	}
	.gallery img {
		width: 300px;
		height: auto;
	}
}

@media only screen and (max-width: 550px) {
	
	.flex-card .flex-container {
		display: flex;
		flex-direction: column;
	}

	.skill .grid-element {
		width: 100px;
		height: 100px;
	}
	.gallery img {
		width: 120px;
		height: auto;
	}
}

@media only screen and (max-width: 325px) {
	.master-section h1 {
		font-size: 24px;
	}
	.master-section h4 {
		font-size: 12px;
	}
	.about-me img {
		width: 250px;
		height: auto;
	}
	.skill .grid-container {
		padding: 0;
	}
	.skill .grid-element {
		width: 60px;
		height: 80px;
	}
	.flex-card .card p, h3, h5{
		font-size: 0.05em;
	}
	.card{
		padding: 0;
		width: 200px;
	}
	.card button {
		width: 100px;
	}
	.gallery img {
		width: 100px;
		height: auto;
	}
}
