* {
	box-sizing: border-box;
}
.section-1 {
	display: grid;
	grid-template-columns: auto auto;
}

.section-1 .right-div {
	width: 500px;
	padding: 50px;
}
.section-2 {
	background-color: #dbd8e3;
}
.section-2 .master-div{
	display: flex;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}
.section-2 .master-div .content, .blank {
	height: 200px;
	width: 300px;
	padding: 20px;
	background-color: #e3f6f5;
	margin: 50px;
}
.section-2 .master-div .blank {
	background-color: #dbd8e3;
}
.section-2 .master-div .timeline .dot{
	height: 25px;
	width: 25px;
	border-radius: 25px;
	background-color: white;
	border-style: solid;
	border-width: 5px;
	border-color: #a2a8d3;
}
.section-2 .master-div .timeline .line, .master-line {
	height: 220px;
	width: 5px;
	background-color: #e3f6f5;
	margin-left: 10px;
}
.section-2 .master-div .timeline .master-line {
	height: 100px;
}
