* {
	box-sizing: border-box;
}
.section-1 {
	display: grid;
	grid-template-columns: auto auto;
}
.section-1 .right-div {
	width: 500px;
	padding: 50px;
}
.right {
	float: right;
}
.section-2 {
	background: -webkit-linear-gradient(to right,  #fdffcd, #e0ffcd);
	background: linear-gradient(to right,  #e0ffcd, #fdffcd);
}
.section-2 .grid-container{
	display: flex;
	flex-direction: column;
	margin: 0;
}
.header-grid {
	display: grid;
	grid-template-columns: auto auto;
	text-align: center;
}
.header-element {
	margin: 50px;
}
.section-2 .bar-div {
	display: grid;
	grid-template-columns: auto;
}
.section-2 p {
	margin: 0 10px;
	margin-bottom: 5px;
}
.holder {
	display: flex;
	flex-direction: column;
}
.right {
	float: right;
	text-align: right;
}
.main-div {
		width: 500px;
    height: 14px;
    background: #edf7fa;
    border-style: solid;
    border-width: 3px;
    border-color: #d5def5;
    border-radius: 20px;
}
.inner-div {
  height: 9px;
  background: #8ea5eb;
  position: relative;
  border-radius: 20px; 
	animation: animate 5s;
}
.html, .photoshop, .creativity {
  	width: 425px;
}
.css, .communication {
  	width: 400px;
}
.javascript, .illustrator{
  	width: 260px;
}
.teamwork {
	width: 470px;
}
.projectmanagement {
	width: 400px;
}
.leadership {
	width: 495px;
}
@keyframes animate {
  0% {
	background: -webkit-linear-gradient(to right,  #afc5ff, #1D976C);
	width:0px;
	}
}

.section-3 {
	background: -webkit-linear-gradient(to right,  #afc5ff, #1D976C);
	background: linear-gradient(to right,  #afc5ff, #8dc6ff);
}
.section-3 .title h2 {
	text-align: center;
	margin-bottom: 50px;
}
.section-3 .master-div{
	display: flex;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}
.section-3 .master-div .content-left, .content-right, .blank {
	height: 200px;
	width: 300px;
	padding: 20px;
	background-color: #dee1ec;
	margin: 50px;
	text-align: center;
}
.section-3 .blank {
	height: 0;
	width: 0;
	margin: 300px 0;
	padding: 0;
}
.section-3 .master-div .timeline .dot{
	height: 25px;
	width: 25px;
	border-radius: 25px;
	background-color: white;
	border-style: solid;
	border-width: 5px;
	border-color: #dee1ec;
}
.section-3 .master-div .timeline .line, .master-line {
	height: 220px;
	width: 5px;
	background-color: #dee1ec;
	margin-left: 10px;
}
.section-3 .master-div .timeline .master-line {
	height: 100px;
}
.section-3 .master-div .content-left:hover {
	margin-left: 30px;
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
	cursor: pointer;
	transition: 1s;
}
	.section-3 .master-div .content-right:hover {
		margin-left: 70px;
		box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
		cursor: pointer;
		transition: 1s;
	}
footer form button {
	width: 40px;
	height: 30px;
	border-style: none;
	background-color: #41d8bf;
	font-weight: 200px;
	font-size: 18px;
}
.section-5 {
	background: -webkit-linear-gradient(to right,  #fdffcd, #e0ffcd);
	background: linear-gradient(to right,  #e0ffcd, #fdffcd);
}
.section-5 img {
	width: 200px;
	height: auto;
}
.section-5 .grid-container {
	display: grid;
	grid-template-columns: auto auto auto auto;
}














