* {
	box-sizing: border-box;
}

.section-2 {
	background: -webkit-linear-gradient(to right,  #fdffcd, #e0ffcd);
	background: linear-gradient(to right,  #e0ffcd, #fdffcd);
}

.section-2 .header-grid {
	display: grid;
	grid-template-columns: auto auto;
	text-align: center;
}
.section-2 .header-grid h2 {
	font-family: 'Comfortaa';
	font-size: 32px;
}

.section-2 .header-element {
	margin: 50px;
}

.section-2 p {
	margin: 0 10px;
	margin-bottom: 5px;
	font-family: 'Comfortaa';
	font-size: 16px;
}
.section-2 .bar-div {

}

.section-2 .grid-container {
	display: grid;
	grid-template-columns: auto auto;
}
.section-2 .grid-container .technical-skill, .professional-skill {
		margin: 0 20px;
}

.section-2 .main-div {
		width: 500px;
    height: 14px;
    background: #edf7fa;
    border-style: solid;
    border-width: 3px;
    border-color: #d5def5;
    border-radius: 20px;
}


.section-2 .inner-div {
  height: 9px;
  background: #8ea5eb;
  position: relative;
  border-radius: 20px; 
	animation: animate 5s;
}

.section-2 .grid-container .professional-skill .holder .bar-element .main-div .inner-right{
	float: right;
}

.section-2 .inner-div-right{
  height: 9px;
  background: #8ea5eb;
  position: relative;
  border-radius: 20px; 
	animation: animate 5s;
	float: right;
}

.section-2 .html, .photoshop, .creativity {
  	width: 425px;
}
.section-2 .css, .communication {
  	width: 400px;
}
.section-2 .javascript, .illustrator{
  	width: 260px;
}
.section-2 .teamwork {
	width: 470px;
}
.section-2 .projectmanagement {
	width: 400px;
}
.section-2 .leadership {
	width: 495px;
}
@keyframes animate {
  0% {
	background: -webkit-linear-gradient(to right,  #afc5ff, #1D976C);
	width:0px;
	}
}

.section-3 {
	background: -webkit-linear-gradient(to right,  #e4f1fe, #93deff);
	background: linear-gradient(to right,  #e4f1fe,#93deff);
	color: #6c5b7c;
}
.section-3 .title h2 {
	text-align: center;
	margin-bottom: 50px;
	font-family: 'Comfortaa';
	font-size: 40px;
}
.section-3 .master-div{
	display: flex;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}
.h3-academic {
	font-family: 'Comfortaa';
	font-size: 14px;
}
.h2-academic {
	font-family: 'Comfortaa';
	font-size: 28px;
	margin: 20px 0;
}
.section-3 .master-div .content-left, .content-right, .blank, .content-mobile {
	height: 200px;
	width: 300px;
	padding: 20px;
	background: -webkit-linear-gradient(to right,  #afc5ff, #1D976C);
	background: linear-gradient(to right,  #afc5ff, #8dc6ff);
	margin: 50px;
	text-align: center;
	color: #552e5a;
}
.section-3 .blank {
	height: 0;
	width: 0;
	margin: 300px 0;
	padding: 0;
}
.section-3 .master-div .timeline .dot{
	height: 25px;
	width: 25px;
	border-radius: 25px;
	background-color: #e4f1fe;
	border-style: solid;
	border-width: 5px;
	border-color: #8dc6ff;
}
.section-3 .master-div .timeline .line, .master-line {
	height: 220px;
	width: 5px;
	background: -webkit-linear-gradient(to right,  #afc5ff, #1D976C);
	background: linear-gradient(to right,  #afc5ff, #8dc6ff);
	margin-left: 10px;
}
.section-3 .master-div .timeline .master-line {
	height: 100px;
}
.section-3 .master-div .content-left:hover {
	margin-left: 30px;
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
	cursor: pointer;
	transition: 1s;
}
.section-3 .master-div .content-right:hover, .content-mobile:hover {
	margin-left: 70px;
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
	cursor: pointer;
	transition: 1s;
}
footer form button {
	width: 40px;
	height: 30px;
	border-style: none;
	background-color: #41d8bf;
	font-weight: 200px;
	font-size: 18px;
}
.skill-type {
	font-family: 'Comfortaa';
	font-size: 32px;
	text-align: center;
}
.section-2 .bar-element p {
	font-family: 'Comfortaa';
	font-size: 18px;
	margin-top: 10px;
}
.section-2 .professional-skill .right {
	float: right;
}
.content-mobile {
	display: none;
}
@media only screen and (max-width: 900px) {

	.mobile-nav ul{
		float: left;
		text-align: left;
	}
	.section-2 {
		padding: 20px;
	}
	.section-2 .grid-container{
		display: flex;
		flex-direction: column;
	}
	.section-2 .main-div {
		width: 300px;
	}
	.section-2 .html, .photoshop, .creativity {
	  	width: 255px;
	}
	.section-2 .css, .communication {
	  	width: 155px;
	}
	.section-2 .javascript, .illustrator{
	  	width: 260px;
	}
	.section-2 .teamwork {
		width: 280px;
	}
	.section-2 .projectmanagement {
		width: 240px;
	}
	.section-2 .leadership {
		width: 295px;
	}
	.section-3 {
		padding: 100px 0 0 0;
		margin: 0;
	}
	.section-3 .master-div{
		display: flex;
		margin-left: auto;
		margin-right: auto;
		width: 800px;
	}
	.h3-academic {
		font-family: 'Comfortaa';
		font-size: 14px;
	}
	.h2-academic {
		font-family: 'Comfortaa';
		font-size: 28px;
		margin: 20px 0;
	}

	.section-3 .master-div {
		display: flex;
		flex-direction: column;
	}

	.timeline, .blank {
		display: none;
	}

	.section-3 .master-div .right-div {
		display: none;
	}
	.section-3 .content-mobile {
		display: block;
	}
	.section-3 .left-div {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 400px;
	}
	.section-3 .content-left {
		margin-bottom: 10px;
		margin-top: 10px;
		padding: 0;
	}
}















