/*This is the main stylesheet for header and footer of the overall pages of the website*/

/* setting body margin to 0*/
* {
	margin: 0;
	font-family: Verdana;
}

/*adding design to header*/
header {
	padding: 20px;
	background-color: #1239;
	color: #d9dad7;
	position: sticky;
	top: 0;
}
header div {
	display: inline-block;
	margin: 0;
}
header .left {
	font-weight: 200px;
	font-size: 28px;
}
header .right {
	float: right;
}
header .right nav{
	margin-top: 10px;
}

/* header ul style to none */
ul {
	list-style-type: none;
	margin: 0;
}
/* setting default property of a to designed propert*/
header a{
	text-decoration: none;
	color: #d9dad7;
}
footer a{
	text-decoration: none;
	color: #d9dad7;
}

/*navigation-menu items inline */
header nav ul li {
	display: inline-block;
	margin: 0;
	padding: 0 20px;
}

/*adding design to footer*/
footer {
	background-color: #1a2639;
	color: #d9dad7;
	padding: 50px;
	justify-content: center;
}

/*main container div of footer*/
footer .main {
	display: grid;
	grid-template-columns: auto auto auto;

}

/*footer newsletter subscription form*/
footer form {
	display: flex;
	padding: 20px 0;
}

/*form elements default property modified*/
footer form input, button {
	width: 250px;
	height: 30px;
	border-style: none;
	padding: 2px 5px;
	box-shadow: none;
	outline-style: none;
}

/*overriding the property of button to minimize repetation of CSS code*/
footer form button {
	width: 40px;
	height: 34px;
	border-style: none;
	background-color: #41d8bf;
	font-weight: 200px;
	font-size: 18px;
}

/*margin setting for center div*/
footer .center {
	margin: 0 5%;
}

/*margin setting for center dv ul*/
footer .center ul {
	margin: 0 20px;
	padding: 0;
}

/*padding for center h1 maintain a bottom gap*/
footer .center h1 {
	padding-bottom: 20px;
}

/*padding for li maintain top-bottom space between list*/
footer .center li {
	padding: 5px 0;
}

/*floating right for right div*/
footer .right-inner {
	float: right;
	margin-right: 5%;
}

/*inline display and padding to maintain gaps*/
footer .right-inner li {
	display: inline-block;
	padding: 10% 5%;
}

/*changing dont sixe of all h1 elements of footer*/
footer h1 {
	font-size: 22px;
}

@media only screen and (max-width: 900px) {

	nav {
		display: none;
	}
	footer .main {
		grid-template-columns: auto;
	}
	footer .main .left-inner {
		margin-left: auto;
		margin-right: auto;
		max-width: 400px;
	}
	footer .main .left-inner {
		text-align: center;
	}
	footer .main .left-inner form {
		margin: 0 7.5%;
	}
	footer .main .center-inner {
		text-align: center;
		margin-top: 20px;
	}
	footer .main .right-inner {
		float: none;
		text-align: center;
		margin-top: 40px;
	}
	footer .main .right-inner h1 {
		margin-left: 30px;
	}
	footer .main .right-inner ul {
		margin-left: 30px;
		padding-left: 3px;
	}
	footer h1 {
		font-size: 20px;
	}

}