.section-2 {	
	background: -webkit-linear-gradient(to right,  #afc5ff, #1D976C);
	background: linear-gradient(to right,  #afc5ff, #8dc6ff);
}

.section-2 .container {
	background-color: #d5def5;
	text-align: center;
	padding-top: 50px;

}
.section-2 .container h2 {
	font-family: 'Comfortaa';
}
.section-2 .grid-container {
	display: grid;
	grid-template-columns: 50px 600px;
	width: 650px;
	margin-left: auto;
	margin-right: auto;
	background-color: #d5def5;
	padding: 50px;
}
.section-2 .arrow {
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-right: 15px solid #8dc6ff;
	border-bottom: 10px solid transparent;
}
.section-2 .content, .inner-content-div {
	display: flex;
	color: #606470;
}

.section-2 .content {
	width: 600px;
}
.section-2 .triangle {
	margin-top: 5px;
	margin-left: 20px;
}
.section-2 .inner-content-div{
	background-color: #8dc6ff;
}
.section-2 .circle{
	height: 50px;
	width: 50px;
	border-radius: 50px;
	border-style: solid;
	border-width: 5px;
	border-color: #8dc6ff;
}
.section-2 .line {
	height: 210px;
	width: 5px;
	background-color: #8dc6ff;
	margin-left: 27px;
}
.section-2 h4 {
	font-family: 'Comfortaa';
	font-size: 12px;
	font-weight: normal;
}
.section-2 h3, p, h4 {
	padding: 20px;
}
.section-2 .content {
	margin-top: 15px;
}
.section-2 .circle{
	display: flex;
	justify-content: center;
	align-items: center;
}
.section-2 h3 {
	font-family: 'Comfortaa';
	font-size: 18px;
}

.section-2 p {
	font-family: 'Jungle';
	font-size: 18px;
	text-align: justify;
}

.section-2 .content:hover {
	margin-left: 20px;
	margin-right: 0;
	transition: 1s;
}

@media only screen and (max-width: 915px) {
	.section-2 {
		padding: 20px;
	}
	.section-2 .liner-1, .liner {
		display: none;
	}
	.section-2 .grid-container {
		display: grid;
		grid-template-columns: auto;
		padding: 0;
		padding-bottom: 20px;
		width: 650px;
	}
	.section-2 .box {
		width: 700px;
	}

}

@media only screen and (max-width: 550px) {

	.section-2 .grid-container {
		max-width: 300px;
	}
	.section-2 .content {
		max-width: 250px;
	}
}

@media only screen and (max-width: 325px) {

	.section-2 .container {
		width: 250px;
	}
	#gridcontainer {
		width: 250px;
	}
	.box {
		width: 50px;
	}
	.section-2 .content {
		width: 100px;
	}
	.inner-content-div {
		width: 200px;
	}
}
